<!DOCTYPE html>
<html>
<head>
  <title>Redscare</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'application', params[:controller] %>
  <%= csrf_meta_tags %>
</head>
<body>

<%-# Add flash messages to all pages (provides info from devise user auth gem) -%>
<% flash.each do |name, msg| %>
	<%= content_tag(:div, msg, class: "alert alert-#{name}") %>
<% end %>

<%= yield %>

</body>
</html>
